.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
}

.App p {
  color: #fff;
}

.App button {
  display: block;
  margin: 20px auto 0;
}
