table {
  width: 100%;
  margin-top: 20px;
}

.zigzag {
  border-collapse: separate;
  border-spacing: 0.25em 1em;
}
td {
  background-color: #eee;
}
th {
  background-color: #1d9cf0;
  color: #fff;
}
th,
td {
  padding: 0.25em 0.5em;
  text-align: left;
}
